@media (max-width: 860px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    top: 100px;
    height: 0;
    overflow: hidden;

    left: 0;
    gap: 0;
    text-align: center;
    background-color: white;
    transition: 0.3s ease-in-out;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    height: 270px;
  }


}



@media (max-width: 1000px) {
  .about-container {
    background: #e4e9d4;
  }
}









@media (max-width: 1210px) {

  .profile-picture {
    /* width: 400px; */
    width: 100%;
  }

  .introduction h4 {
    font-size: 24px;
  }

  .introduction h2 {
    font-size: 40px;
  }

  .introduction h6 {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {

  .profile-picture {
    width: 350px;
  }

  .introduction h4 {
    font-size: 20px;
  }

  .introduction h2 {
    font-size: 30px;
  }

  .introduction h6 {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  body{
    background-color: blue;
  }
  .profile-picture {
    width: 270px;
  }

  .introduction h4 {
    font-size: 20px;
  }

  .introduction h2 {
    font-size: 26px;
  }

  .introduction h6 {
    font-size: 14px;
  }
}


@media (max-width: 800px) {
  body{
    background-color: red;
  }
  .profile-picture {
    width: 250px;
  }

  .introduction h4 {
    font-size: 16px;
  }

  .introduction h2 {
    font-size: 24px;
  }

  .introduction h6 {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  body{
    background-color: green;
  }
  .profile-picture {
    width: 220px;
  }

  .introduction h4 {
    font-size: 14px;
  }

  .introduction h2 {
    font-size: 18px;
  }

  .introduction h6 {
    font-size: 12px;
  }
}


@media only screen and (max-width: 500px) and (min-height: 500px) {
  .about-container {
    flex-direction: column-reverse;
    /* justify-content: start; */
    justify-content: start;
    align-items: center;
  }



  body{
    background-color: yellow;
  }


  .profile-picture {
    /* width: 400px; */
    width: 90vw;
  }

  .introduction h4 {
    font-size: 24px;
  }

  .introduction h2 {
    font-size: 36px;
  }

  .introduction h6 {
    font-size: 18px;
  }
}




@media only screen and (max-width: 500px) and (max-height: 500px) {

  .about-container {
    flex-direction: column-reverse;
    /* justify-content: start; */
    justify-content: start;
    align-items: center;
  }



  body{
    background-color: pink;
  }


  .profile-picture {
    /* width: 300px; */
    width: 90vw;
  }

  .introduction h4 {
    font-size: 20px;
  }

  .introduction h2 {
    font-size: 30px;
  }

  .introduction h6 {
    font-size: 18px;
  }
}



@media only screen and (max-width: 400px) {
  .about-container {
    flex-direction: column-reverse;
    /* justify-content: start; */
    justify-content: start;
    align-items: center;
  }



  body{
    background-color: orange;
  }


  .profile-picture {
    /* width: 300px; */
    width: 90vw;
  }

  .introduction h4 {
    font-size: 18px;
  }

  .introduction h2 {
    font-size: 24px;
  }

  .introduction h6 {
    font-size: 16px;
  }
}


@media only screen and (max-width: 300px){

  body{
    display: none;
  }
}



/* @media (max-width: 860px) {

  .profile-picture {
    width: 500px;
  }

  .introduction h4 {
    font-size: 40px;
  }

  .introduction h2 {
    font-size: 56px;
  }

  .introduction h6 {
    font-size: 20px;
  }
} */

/* @media only screen and (max-width: 600px) and (max-height: 400px) {
  
} */




