@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --black-one: black;
  --black-two: rgba(0, 0, 0, 0.7);
  --navbar-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  min-height: var(--navbar-height);
  background-color: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-branding {
  font-size: 2rem;
  font-weight: 500;
}

.nav-link {
  color: var(--black-two);
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: var(--black-one);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* 

.about-section{
    width: 100%;
    height: min(100vw, calc(100vh - 100px));
    height: calc(100vh - 100px);
    min-height: 500px;
    max-height: 1080px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: start;
}

.about-container{
    display: flex;
    align-items: center;
    padding-left: 10vw;
    max-width: 1900px;
    width: 100%;
    height: 100%;
    height: calc(100vh - var(--navbar-height));
    height: min(100vw, calc(100vh - 100px));
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('images/profile_picture.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: contain;
}
 */

.about-section {
  width: 100%;
  height: auto;
  /* min-height: calc(100vh - 100px); */
  /* height: calc(100vh - 100px); */
  /* height: auto; */
  background-color: green;
  overflow: hidden;
}

.about-container {
  width: 100%;
  height: auto;
  /* height: auto;
  min-height: calc(100vh - 100px); */

  padding: 5vh 10vw;

  background: linear-gradient(to left, #e4e9d4 800px, white);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-picture {
  width: 500px;
}

.introduction h4 {
  font-size: 30px;
}

.introduction h2 {
  font-size: 50px;
}

.introduction h6 {
  font-size: 18px;
}

.introduction{
  max-width: 500px;
}
